<div class="container mt-5">
  <div>
    <app-shopping-buttons
      (itemCreated)="onItemAdded($event)"
    ></app-shopping-buttons>
    <div>
      <table class="table" *ngIf="itemList.length > 0">
        <thead>
          <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Ammount</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of itemList; let i = index">
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.ammount }}</td>
            <button class="btn btn-danger" (click)="onRemove(i)">Delete</button>
          </tr>
        </tbody>
        <p>total items in shopping list: {{ itemList.length }}</p>
      </table>
    </div>
  </div>
</div>
